https://github.com/rafaelpadilla/Object-Detection-Metrics

Για να μπορέσουμε να τρέξουμε τον παραπάνω κώδικα θα πρέπει να δημιουργήσουμε δυο φακέλους.

Με τον παρακάτω κωδικά θα δημιουργήσουμε τον φάκελο που περιέχει τα groundtruth files. Ο φάκελος αυτός θα περιέχει για την κάθε εικόνα του test set ένα αρχείο txt το οποίο για όνομα θα έχει το όνομα της εικόνας και για περιεχόμενο θα έχει τις συντεταγμένες από τα αντικείμενα που έχει η εικόνα καθώς και το όνομα της κατηγορία στην οποία ανήκει.

Για παράδειγμα αν η εικόνα "2008_000034.jpg" περιέχει 3 αντικείμενα το αρχείο txt που θα πρέπει να φτιάξουμε θα  ονομάζεται "2008_000034.txt"
και θα περιέχει τις παρακάτω γραμμές:
person 1 156 103 336<br>
cat 36 111 198 416<br>
dog 91 42 338 500<br>

In [23]:
from matplotlib import pyplot as plt
import numpy as np
import os
import pandas as pd
import cv2

In [24]:
test_df = pd.read_csv(r"C:\Users\Christos\Jupyter\Vision\Ask4part3\Final\Code\Outputs\test.csv")

In [25]:
test_df.tail()

,Unnamed: 0,FileName,XMin,XMax,YMin,YMax,ClassName
1364,1364,fe08ce283ed9fe00.jpg,0.827500,0.911875,0.510934,0.592445,Cat
1365,1365,fe952e7df9c5d743.jpg,0.458333,0.622500,0.315000,0.458125,Cat
1366,1366,fec284c3a0d5a346.jpg,0.186667,0.392500,0.202500,0.389375,Person
1367,1367,ff1196d7cac681dc.jpg,0.176471,0.915033,0.236928,0.633987,Dog
1368,1368,ffb943a17cbbdcda.jpg,0.000000,0.990196,0.150327,0.838235,Cat

get the length of the result images

In [31]:
test_path = r"C:\Users\Christos\Google Drive\ColabNotebooks\Vision\frcnn\keras-frcnn\test"
# find boxes in each image and put them in a dataframe
test_imgs = os.listdir(test_path)
test_imgs = [name for name in test_imgs if not name.startswith('.')]

In [32]:
test_imgs.__len__()

600

In [33]:
os.getcwd()
os.chdir(r"C:\Users\Christos\Jupyter\Vision\Ask4part3\Final\Code\Outputs")

In [36]:
for i in range(len(test_imgs)):
    
    
    img_name = test_imgs[i]
    img_id = img_name[0:16]
    tmp_df = test_df[test_df['FileName']==img_name]   
    
    img = cv2.imread(test_path + "\\" + img_name)
    height, width = img.shape[:2]
    x1 = int(row['XMin'] * width)
    x2 = int(row['XMax'] * width)
    y1 = int(row['YMin'] * height)
    y2 = int(row['YMax'] * height)
    
    with open("groundtruths/{}.txt".format(img_id), "w+") as f:
         for index, row in tmp_df.iterrows():
                
                f.write(row['ClassName'] + ' ' +str(x1) + ' ' + str(y1) + ' ' + str(x2) + ' ' + str(y2) + '\n')
         f.close()